.upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--offset_xl);
    text-align: center;

    &__description {
        margin: 0;
    }

    &__about {
        &:focus-visible {
            padding: 0 var(--offset_xs);
            margin: 0 calc(-1 * var(--offset_xs));
        }
    }

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--offset_s);

        &-hint {
            font-size: var(--font-size_xs);
        }
    }
}
