@import 'styles/abstracts/breakpoints';

.menu {
    &__dropdown {
        display: flex;

        @media (min-width: $breakpoint-s) {
            display: none;
        }
    }

    &__list {
        @media (max-width: ($breakpoint-s - 1px)) {
            display: none;
        }

        list-style: none;
        display: flex;
        gap: var(--offset_2xl);
        margin: unset;
        padding: unset;

        &-item {
            margin-bottom: unset;
            flex-shrink: 0;

            &-text-button {
                min-width: unset;
                padding-left: 17px;
                padding-right: 17px;
                margin-left: -17px;
                margin-right: -17px;
            }

            &-icon-button {
                height: 100%;
                aspect-ratio: 1 / 1;
                margin-left: -17px;
                margin-right: -7px;

                &-icon {
                    // Resize to align with other elements on the page
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }
}
