@import 'styles/abstracts/breakpoints';

.menu {
    &__dropdown {
        @media (min-width: $breakpoint-s) {
            display: none;
        }
    }

    &__list {
        @media (max-width: ($breakpoint-s - 1px)) {
            display: none;
        }

        list-style: none;
        display: flex;
        gap: var(--offset_2xl);
        margin: unset;
        padding: unset;

        &-item {
            margin-bottom: unset;
            flex-shrink: 0;

            &-button {
                min-width: unset;
                padding-left: 17px;
                padding-right: 17px;
                margin-left: -17px;
                margin-right: -17px;
            }
        }
    }
}
