.menu {
    &__list {
        list-style: none;
        display: flex;
        gap: var(--offset_2xl);
        margin: unset;
        padding: unset;

        &-item {
            margin-bottom: unset;
            flex-shrink: 0;

            &-button {
                min-width: unset;
                padding-left: 17px;
                padding-right: 17px;
                margin-left: -17px;
                margin-right: -17px;
            }
        }
    }
}
