.window-manager {
    &_modal {
        z-index: 999;
    }

    &__content {
        max-width: 1024px;
        height: 100%;
        overflow-y: hidden;
        box-sizing: border-box;
        display: flex;
        padding: 86px var(--offset_xl) 74px;

        &_mobile {
            padding: 76px var(--offset_m) 62px;
        }

        &-container {
            $transition: var(--offset_s);

            display: flex;
            overflow-x: hidden;
            align-items: center;
            mask-image: linear-gradient(
                transparent 0,
                #000 $transition,
                #000 calc(100% - $transition),
                transparent 100%
            );

            &-scroll {
                max-height: 100%;
                overflow-y: scroll;

                &::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }
}
